body {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    background-color: #0C2B4E;
    color: #f4F4F4;
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 64px;
    color: #FFFFFF;
    margin: 20px;
    text-decoration: underline;
}

#teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#team-name {
    font-size: 35px;
    color: #F4F4F4;
    margin: 20px;
}

#score {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.score-card {
    width: 140px;
    height: 110px;
    border-radius: 32px;
    background-color: #1D546C;
    border: 4px solid #F4F4F4;
    font-size: 48px;
    color: #1A3D64;
    -webkit-text-stroke: 4px #F4F4F4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

button {
    width: 100px;
    height: 70px;
    font-family: "Orbitron", sans-serif;
    border-radius: 10px;
    background-color: #1A3D64;
    border: 5px solid #F4F4F4;
    font-size: 24px;
    letter-spacing: normal;
    color: #f4F4F4;
    margin: 5px;
}

button:hover {
    background-color: #F4F4F4;
    color: #1A3D64;
    border: 5px solid #575858;
}

#points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#commentary-title {
    text-decoration: underline;
}